<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Book</title>
</head>

<body>
    <button onclick="redirectToPage()">Library</button>

    <h1>Add Book</h1>

    <div class="container">
        <form method="post">
            {% csrf_token %}

            <!-- Add Book -->
            <label for="title">Book Title:</label>
            <input type="text" name="title" placeholder="Book Title"> <br> <br>

            <!-- Add Author -->
            <label for="author">Book Author:</label>
            <select name="author" id="author">
                <option value="">-- Select or Add New --</option>
                {% for author in authors %}
                <option value="{{ author.id }}" data-author_name="{{ author.author_name }}">{{ author.author_name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="new_author" id="new_author" placeholder="Add New Author"> <br> <br>

            <!-- Add Publisher -->
            <label for="publisher_name">Publisher Name:</label>
            <select name="publisher_name" id="publisher_name">
                <option value="">-- Select or Add New --</option>
                {% for publisher in publishers %}
                <option value="{{ publisher.id }}" data-name="{{ publisher.publisher_name }}"
                    data-number="{{ publisher.publisher_number }}" data-address="{{ publisher.pubilsher_address }}">
                    {{ publisher.publisher_name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="new_publisher_name" id="new_publisher_name" placeholder="New Publisher Name"> <br>
            <br>

            <label for="publisher_number">Publisher Number:</label>
            <input type="number" name="new_publisher_number" id="new_publisher_number"
                placeholder="New Publisher Number"> <br> <br>

            <label for="publisher_address">Publisher Address:</label>
            <input type="text" name="new_publisher_address" id="new_publisher_address"
                placeholder="New Publisher Address"> <br> <br>

            <!-- Add Branch -->
            <label for="branch">Branch:</label>
            <select name="branch" id="branch">
                <option value="">-- Select or Add New --</option>
                {% for branch in branches %}
                <option value="{{ branch.id }}" data-branch_name="{{ branch.branch_name }}" data-location="{{ branch.location }}">{{ branch.branch_name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="new_branch" id="new_branch" placeholder="Add New Branch">
            <input type="text" name="new_location" id="new_location" placeholder="Add New Location"> <br> <br>

            <!-- Add Published Year-->
            <label for="published_year">Published Year:</label>
            <input type="number" name="published_year" id="published_year" placeholder="Year"> <br> <br>

            <!-- Add Copies -->
            <label for="num_copies">Number of Copies:</label>
            <input type="number" name="num_copies" placeholder="Number of Copies"> <br> <br>

            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        document.getElementById('author').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            var author_name = selectedOption.getAttribute('data-author_name');
            var newAuthorInput = document.getElementById('new_author');

            newAuthorInput.readOnly = true;

            if (selectedOption.value === "") {
                newAuthorInput.readOnly = false;
            } else {
                newAuthorInput.value = author_name;
            }
        });

        document.getElementById('publisher_name').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            var name = selectedOption.getAttribute('data-name');
            var number = selectedOption.getAttribute('data-number');
            var address = selectedOption.getAttribute('data-address');
            var newPublisherNameInput = document.getElementById('new_publisher_name');
            var newPublisherNumberInput = document.getElementById('new_publisher_number');
            var newPublisherAddressInput = document.getElementById('new_publisher_address');

            newPublisherNameInput.readOnly = true;
            newPublisherNumberInput.readOnly = true;
            newPublisherAddressInput.readOnly = true;

            if (selectedOption.value === "") {
                newPublisherNameInput.readOnly = false;
                newPublisherNumberInput.readOnly = false;
                newPublisherAddressInput.readOnly = false;
            } else {
                newPublisherNameInput.value = name;
                newPublisherNumberInput.value = number;
                newPublisherAddressInput.value = address;
            }
        });

        document.getElementById('branch').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            var branch_name = selectedOption.getAttribute('data-branch_name');
            var location = selectedOption.getAttribute('data-location');
            var newBranchInput = document.getElementById('new_branch');
            var newLocationInput = document.getElementById('new_location');

            newBranchInput.readOnly = true;
            newLocationInput.readOnly = true;

            if (selectedOption.value === "") {
                newBranchInput.readOnly = false;
                newLocationInput.readOnly = false;
            } else {
                newBranchInput.value = branch_name;
                newLocationInput.value = location;
            }
        });

        function redirectToPage() {
            window.location.href = "{% url 'default' %}";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>